# Carga de datos - Auditoría y Transparencia

Carga de los datasets: feedback de clientes, inventario central y transacciones logística.

In [17]:
import pandas as pd

# Cargar los tres datasets
df_feedback = pd.read_csv("feedback_clientes_v2.csv")
df_inventario = pd.read_csv("inventario_central_v2.csv")
df_transacciones = pd.read_csv("transacciones_logistica_v2.csv")

datasets = {
    "Feedback clientes": df_feedback,
    "Inventario central": df_inventario,
    "Transacciones logística": df_transacciones,
}

sep = "=" * 60

In [18]:
# --- FEEDBACK CLIENTES (feedback_clientes_v2.csv) ---
nombre = "Feedback clientes"
df = df_feedback

print(sep)
print(f"ARCHIVO: {nombre}")
print(sep)
print(f"\nDimensiones: {df.shape[0]} filas × {df.shape[1]} columnas")

nulos = df.isna().sum()
total_celdas, nulos_totales = df.size, nulos.sum()
pct = (nulos_totales / total_celdas * 100) if total_celdas else 0
print(f"\nValores nulos: {nulos_totales} / {total_celdas} celdas → {pct:.2f}%")
for col in nulos[nulos > 0].index:
    print(f"  - {col}: {nulos[col]} ({df[col].isna().sum()/len(df)*100:.2f}%)")

n_dup = df.duplicated(keep="first").sum()
print(f"\nDuplicados: {n_dup} filas / {len(df)} → {n_dup/len(df)*100:.2f}%")

print("\nDescribe:")
print(df.describe(include="all"))
print("\n.info():")
df.info()
print("\nPrimeras 20 muestras:")
df.head(20)

============================================================
ARCHIVO: Feedback clientes
============================================================

Dimensiones: 4500 filas × 9 columnas

Valores nulos: 1776 / 40500 celdas → 4.39%
  - Comentario_Texto: 657 (14.60%)
  - Recomienda_Marca: 1119 (24.87%)

Duplicados: 0 filas / 4500 → 0.00%

Describe:
       Feedback_ID Transaccion_ID  Rating_Producto  Rating_Logistica  \
count         4500           4500      4500.000000       4500.000000
unique        4000           3623              NaN               NaN
top        FB-8151      TRX-12797              NaN               NaN
freq             4              4              NaN               NaN
mean           NaN            NaN         3.635778          3.005111
std            NaN            NaN         7.942196          1.418520
min            NaN            NaN         1.000000          1.000000
25%            NaN            NaN         2.000000          2.000000
50%            NaN            NaN         3.000000          3.000000
75%            NaN            NaN         4.000000          4.000000
max            NaN            NaN        99.000000          5.000000

       Comentario_Texto Recomienda_Marca Ticket_Soporte_Abierto  Edad_Cliente  \
count              3843             3381                   4500   4500.000000
unique                6                3                      4           NaN
top           Excelente               SI                     Sí           NaN
freq                677             1162                   1158           NaN
mean                NaN              NaN                    NaN     51.172889
std                 NaN              NaN                    NaN     21.830784
min                 NaN              NaN                    NaN     18.000000
25%                 NaN              NaN                    NaN     34.000000
50%                 NaN              NaN                    NaN     50.000000
75%                 NaN              NaN                    NaN     67.000000
max                 NaN              NaN                    NaN    195.000000

        Satisfaccion_NPS
count        4500.000000
unique               NaN
top                  NaN
freq                 NaN
mean            0.303089
std            57.184315
min           -99.800000
25%           -49.200000
50%             1.100000
75%            49.525000
max            99.900000

.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Feedback_ID             4500 non-null   object
 1   Transaccion_ID          4500 non-null   object
 2   Rating_Producto         4500 non-null   int64
 3   Rating_Logistica        4500 non-null   int64
 4   Comentario_Texto        3843 non-null   object
 5   Recomienda_Marca        3381 non-null   object
 6   Ticket_Soporte_Abierto  4500 non-null   object
 7   Edad_Cliente            4500 non-null   int64
 8   Satisfaccion_NPS        4500 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 316.5+ KB

Primeras 20 muestras:

,Feedback_ID,Transaccion_ID,Rating_Producto,Rating_Logistica,Comentario_Texto,Recomienda_Marca,Ticket_Soporte_Abierto,Edad_Cliente,Satisfaccion_NPS
0,FB-8000,TRX-17461,99,4,NaN,NaN,Sí,195,-17.5
1,FB-8001,TRX-17755,4,5,---,Maybe,Sí,59,-41.7
2,FB-8002,TRX-10534,3,4,No volvería,Maybe,0,84,-36.4
3,FB-8003,TRX-12569,2,3,---,NaN,Sí,20,7.4
4,FB-8004,TRX-19159,4,2,Dañado,SI,No,83,61.0
5,FB-8005,TRX-16051,5,3,---,SI,Sí,77,95.0
6,FB-8006,TRX-11945,1,1,Precio justo,NaN,Sí,46,63.4
7,FB-8007,TRX-19856,3,4,Precio justo,NaN,0,24,-22.0
8,FB-8008,TRX-16694,1,4,Lento,NO,No,21,75.1
9,FB-8009,TRX-11807,1,4,No volvería,NO,No,67,64.8
10,FB-8010,TRX-11980,1,5,No volvería,NO,Sí,38,82.4
11,FB-8011,TRX-16055,5,5,---,NaN,1,26,-86.9
12,FB-8012,TRX-19367,2,3,---,Maybe,1,77,-29.3
13,FB-8013,TRX-14744,4,2,Lento,NaN,0,29,-90.7
14,FB-8014,TRX-10659,5,1,No volvería,NaN,No,73,-35.7
15,FB-8015,TRX-18565,2,2,No volvería,NaN,0,22,-43.9
16,FB-8016,TRX-12511,3,2,NaN,NaN,1,80,82.1
17,FB-8017,TRX-11929,4,1,Precio justo,SI,Sí,44,89.0
18,FB-8018,TRX-16086,2,5,Excelente,NaN,0,66,39.0
19,FB-8019,TRX-14995,3,4,Dañado,SI,0,37,-43.4

In [19]:
# --- INVENTARIO CENTRAL (inventario_central_v2.csv) ---
nombre = "Inventario central"
df = df_inventario

print(sep)
print(f"ARCHIVO: {nombre}")
print(sep)
print(f"\nDimensiones: {df.shape[0]} filas × {df.shape[1]} columnas")

nulos = df.isna().sum()
total_celdas, nulos_totales = df.size, nulos.sum()
pct = (nulos_totales / total_celdas * 100) if total_celdas else 0
print(f"\nValores nulos: {nulos_totales} / {total_celdas} celdas → {pct:.2f}%")
for col in nulos[nulos > 0].index:
    print(f"  - {col}: {nulos[col]} ({df[col].isna().sum()/len(df)*100:.2f}%)")

n_dup = df.duplicated(keep="first").sum()
print(f"\nDuplicados: {n_dup} filas / {len(df)} → {n_dup/len(df)*100:.2f}%")

print("\nDescribe:")
print(df.describe(include="all"))
print("\n.info():")
df.info()
print("\nPrimeras 20 muestras:")
df.head(20)

============================================================
ARCHIVO: Inventario central
============================================================

Dimensiones: 2500 filas × 8 columnas

Valores nulos: 503 / 20000 celdas → 2.51%
  - Stock_Actual: 100 (4.00%)
  - Lead_Time_Dias: 403 (16.12%)

Duplicados: 0 filas / 2500 → 0.00%

Describe:
           SKU_ID Categoria  Stock_Actual  Costo_Unitario_USD  Punto_Reorden  \
count        2500      2500   2400.000000         2500.000000    2500.000000
unique       2500         8           NaN                 NaN            NaN
top     PROD-1000   Laptops           NaN                 NaN            NaN
freq            1       329           NaN                 NaN            NaN
mean          NaN       NaN    995.487083         1105.788816     198.046400
std           NaN       NaN    597.689734        16989.836953      57.182355
min           NaN       NaN    -50.000000            0.050000     100.000000
25%           NaN       NaN    481.000000          403.652500     150.000000
50%           NaN       NaN    987.000000          755.175000     195.500000
75%           NaN       NaN   1523.250000         1125.292500     246.000000
max           NaN       NaN   1998.000000       850000.000000     299.000000

       Lead_Time_Dias Bodega_Origen Ultima_Revision
count            2097          2500            2500
unique              5             6             679
top        25-30 días         norte      2024-12-29
freq              454           437              11
mean              NaN           NaN             NaN
std               NaN           NaN             NaN
min               NaN           NaN             NaN
25%               NaN           NaN             NaN
50%               NaN           NaN             NaN
75%               NaN           NaN             NaN
max               NaN           NaN             NaN

.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SKU_ID              2500 non-null   object
 1   Categoria           2500 non-null   object
 2   Stock_Actual        2400 non-null   float64
 3   Costo_Unitario_USD  2500 non-null   float64
 4   Punto_Reorden       2500 non-null   int64
 5   Lead_Time_Dias      2097 non-null   object
 6   Bodega_Origen       2500 non-null   object
 7   Ultima_Revision     2500 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 156.4+ KB

Primeras 20 muestras:

,SKU_ID,Categoria,Stock_Actual,Costo_Unitario_USD,Punto_Reorden,Lead_Time_Dias,Bodega_Origen,Ultima_Revision
0,PROD-1000,smart-phone,NaN,870.38,259,25-30 días,Norte,2025-11-17
1,PROD-1001,Accesorios,476.0,1397.26,169,25-30 días,Norte,2024-03-05
2,PROD-1002,Monitores,1209.0,611.62,214,5,Sur,2024-06-21
3,PROD-1003,smart-phone,1825.0,145.94,187,10,Sur,2025-01-07
4,PROD-1004,Smartphones,1713.0,77.78,105,5,Sur,2024-07-04
5,PROD-1005,???,470.0,1248.94,126,10,ZONA_FRANCA,2025-02-24
6,PROD-1006,Monitores,1651.0,810.87,181,25-30 días,norte,2025-04-17
7,PROD-1007,Monitores,966.0,1174.10,187,NaN,Norte,2024-07-13
8,PROD-1008,smart-phone,963.0,389.92,219,10,norte,2025-03-07
9,PROD-1009,Tablets,66.0,550.37,123,25-30 días,norte,2025-05-18
10,PROD-1010,Smartphones,1317.0,0.05,201,25-30 días,Sur,2024-12-02
11,PROD-1011,smart-phone,533.0,1444.16,133,5,norte,2026-01-26
12,PROD-1012,Smartphones,344.0,1018.41,267,5,Norte,2026-01-26
13,PROD-1013,Smartphones,1037.0,1403.15,146,NaN,Norte,2025-07-25
14,PROD-1014,???,21.0,434.97,123,Inmediato,BOD-EXT-99,2025-09-06
15,PROD-1015,Monitores,223.0,936.62,164,3,Occidente,2024-12-23
16,PROD-1016,Accesorios,1963.0,1033.82,117,Inmediato,ZONA_FRANCA,2025-05-19
17,PROD-1017,???,1293.0,510.45,143,Inmediato,norte,2024-10-10
18,PROD-1018,???,287.0,1279.76,175,NaN,ZONA_FRANCA,2025-11-03
19,PROD-1019,Smartphones,1339.0,1423.38,156,10,ZONA_FRANCA,2026-01-22

In [20]:
# --- TRANSACCIONES LOGÍSTICA (transacciones_logistica_v2.csv) ---
nombre = "Transacciones logística"
df = df_transacciones

print(sep)
print(f"ARCHIVO: {nombre}")
print(sep)
print(f"\nDimensiones: {df.shape[0]} filas × {df.shape[1]} columnas")

nulos = df.isna().sum()
total_celdas, nulos_totales = df.size, nulos.sum()
pct = (nulos_totales / total_celdas * 100) if total_celdas else 0
print(f"\nValores nulos: {nulos_totales} / {total_celdas} celdas → {pct:.2f}%")
for col in nulos[nulos > 0].index:
    print(f"  - {col}: {nulos[col]} ({df[col].isna().sum()/len(df)*100:.2f}%)")

n_dup = df.duplicated(keep="first").sum()
print(f"\nDuplicados: {n_dup} filas / {len(df)} → {n_dup/len(df)*100:.2f}%")

print("\nDescribe:")
print(df.describe(include="all"))
print("\n.info():")
df.info()
print("\nPrimeras 20 muestras:")
df.head(20)

============================================================
ARCHIVO: Transacciones logística
============================================================

Dimensiones: 10000 filas × 10 columnas

Valores nulos: 2517 / 100000 celdas → 2.52%
  - Costo_Envio: 834 (8.34%)
  - Estado_Envio: 1683 (16.83%)

Duplicados: 0 filas / 10000 → 0.00%

Describe:
       Transaccion_ID     SKU_ID Fecha_Venta  Cantidad_Vendida  \
count           10000      10000       10000      10000.000000
unique          10000       2889         500               NaN
top         TRX-10000  PROD-1369  12/01/2025               NaN
freq                1         11          39               NaN
mean              NaN        NaN         NaN          7.413600
std               NaN        NaN         NaN          4.205485
min               NaN        NaN         NaN         -5.000000
25%               NaN        NaN         NaN          4.000000
50%               NaN        NaN         NaN          7.000000
75%               NaN        NaN         NaN         11.000000
max               NaN        NaN         NaN         14.000000

        Precio_Venta_Final  Costo_Envio  Tiempo_Entrega_Real Estado_Envio  \
count         10000.000000  9166.000000         10000.000000         8317
unique                 NaN          NaN                  NaN            5
top                    NaN          NaN                  NaN    Retrasado
freq                   NaN          NaN                  NaN         1757
mean            996.392443    52.411765            19.881900          NaN
std             570.571003    27.419908            69.914879          NaN
min              10.010000     5.000000             1.000000          NaN
25%             500.265000    28.802500             8.000000          NaN
50%             999.230000    52.360000            15.000000          NaN
75%            1479.225000    76.110000            22.000000          NaN
max            1999.580000    99.990000           999.000000          NaN

       Ciudad_Destino Canal_Venta
count           10000       10000
unique              8           4
top        Ventas_Web      Físico
freq             1290        2532
mean              NaN         NaN
std               NaN         NaN
min               NaN         NaN
25%               NaN         NaN
50%               NaN         NaN
75%               NaN         NaN
max               NaN         NaN

.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaccion_ID       10000 non-null  object
 1   SKU_ID               10000 non-null  object
 2   Fecha_Venta          10000 non-null  object
 3   Cantidad_Vendida     10000 non-null  int64
 4   Precio_Venta_Final   10000 non-null  float64
 5   Costo_Envio          9166 non-null   float64
 6   Tiempo_Entrega_Real  10000 non-null  int64
 7   Estado_Envio         8317 non-null   object
 8   Ciudad_Destino       10000 non-null  object
 9   Canal_Venta          10000 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 781.4+ KB

Primeras 20 muestras:

,Transaccion_ID,SKU_ID,Fecha_Venta,Cantidad_Vendida,Precio_Venta_Final,Costo_Envio,Tiempo_Entrega_Real,Estado_Envio,Ciudad_Destino,Canal_Venta
0,TRX-10000,PROD-3619,25/04/2025,-5,1752.48,NaN,999,Entregado,Bucaramanga,Físico
1,TRX-10001,PROD-1456,29/07/2025,12,686.88,67.16,29,Entregado,Ventas_Web,WhatsApp
2,TRX-10002,PROD-1102,31/05/2025,2,402.06,32.55,13,Perdido,MED,Físico
3,TRX-10003,PROD-2126,23/01/2026,4,665.98,62.64,12,Perdido,Medellín,Online
4,TRX-10004,PROD-2003,09/10/2025,5,1222.62,52.91,15,Entregado,BOG,App
5,TRX-10005,PROD-1914,05/11/2025,2,740.61,25.63,29,Retrasado,Medellín,Online
6,TRX-10006,PROD-1571,20/06/2025,12,1349.06,30.32,23,NaN,Bogotá,Físico
7,TRX-10007,PROD-1419,18/11/2025,8,481.50,21.21,13,Perdido,Cali,App
8,TRX-10008,PROD-3771,03/11/2025,1,1404.98,10.38,6,NaN,Medellín,App
9,TRX-10009,PROD-3233,21/03/2025,3,701.40,63.82,26,NaN,MED,Físico
10,TRX-10010,PROD-1356,04/04/2025,7,917.18,68.91,14,Entregado,Bogotá,App
11,TRX-10011,PROD-3418,07/12/2025,10,1119.91,20.77,3,Devuelto,BOG,Físico
12,TRX-10012,PROD-2728,01/08/2025,1,1375.59,NaN,8,Entregado,Cali,App
13,TRX-10013,PROD-1130,10/12/2024,13,485.04,63.46,12,Entregado,Barranquilla,Físico
14,TRX-10014,PROD-1122,21/03/2025,11,1673.53,98.30,14,Devuelto,Ventas_Web,Online
15,TRX-10015,PROD-1383,27/01/2026,2,1446.47,12.07,5,NaN,Bucaramanga,App
16,TRX-10016,PROD-1895,04/03/2025,3,475.85,51.59,2,Perdido,Ventas_Web,WhatsApp
17,TRX-10017,PROD-1952,12/04/2025,14,1950.20,74.64,10,NaN,Ventas_Web,Online
18,TRX-10018,PROD-3069,06/10/2024,14,1332.95,9.37,3,Devuelto,Cali,WhatsApp
19,TRX-10019,PROD-3465,04/09/2025,2,910.33,78.94,23,Perdido,Medellín,Online